# dependencies
/node_modules/
node_modules/
/.pnp
.pnp.*
.yarn/*

# testing
/coverage

# next.js
/.next/
.next/
/out/
/build
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env*
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

prisma/dev.db
